.paginationcontainer {
  display: flex;
  justify-content:center;
  align-items: center;
  
  width: 100%;
  height: 30px;
  margin-top: 15px;
}
.prevnextconteiner {
  display: flex;
  align-items: center;
  justify-items: center;
  
  height: 100%;
  width: 80px;
  margin: 0px 5px;

  text-align: center;
  font-size: small;
  text-align: center;
}


.numberpage {
  display: flex;
  height: inherit;
  width: inherit;

  align-items: center;
  justify-content: space-around;
}
.pagebutton {
  width: 40px;
  height: 100%;
  margin-right: 5px;
  
  background-color: #007bff;
  border: 1px solid #ffffff;
  border-radius: 15px;
  
  color: #fff;
  font-size: small;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.pagebutton:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}


.pagebutton:focus {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.pagebutton.active{
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.prevButton{
  width: 100%;
  height: 100%;
  
  background-color: #007bff;
  border: 1px solid #ffffff;
  border-radius: 15px;
  
  color: #fff;
  font-size: small;
  cursor: pointer;
}

.nextButton{
  width: 100%;
  height: 100%;

  background-color: #007bff;
  border: 1px solid #ffffff;
  border-radius: 15px;

  color: #fff;
  font-size: small;
  cursor: pointer;
}

.prevButton:disabled{
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;

}
.nextButton:disabled{
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;

}
