.pagination {
  
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 40px;
  }

  .pagination button {
 
    background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease whidth 0.5s ease;
  
  }
  .pagination button:hover {
    width: 50px;
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
  }

  .pagination button:focus {
    width: 50px;
    background-color: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
  .pagination .active {
    
    min-width: 200px;
    background-color:#007bff;
    border: 2px solid #ffffff;
   
  }

  .pagination button:disabled {
    background-color:#fffbfb;
    color: #0056b3;
    font-size: 30px;
    border: 2px solid #007bff;
  }

