body {
  font-family: 'Outfit', sans-serif;
  background-color: rgb(5, 27, 58);
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

code{
  font-family: 'Outfit', sans-serif;
}

button{
  font-family: 'Poppins', sans-serif;
  color: antiquewhite;
  font-size: 30px;
}

h2, h3{
  font-family: 'Josefin Sans', sans-serif;
}

h4, h5 {
  font-family: 'Outfit', sans-serif;
}