/* Estilo para el formulario */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: #fff;
    font-size: 20px;
  }
  
  /* Estilo para las etiquetas de formulario */
  label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
  }
  
  /* Estilo para los campos de entrada de texto y textarea */
  .formInput{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  .formTextarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  /* Estilo para el botón de submit */
  .formButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Efecto hover en el botón de submit */
  .formButton:hover {
    background-color: #0056b3;
  }

  .containerplats{
    display: flex;
    flex-direction: column;
    max-height: 200px; 
  overflow-y: scroll;
  justify-items: center;
  }

  details{
    display: flex;
    max-width: 250px;
  }

  input[type="checkbox"] {
    margin-left: 5px;
  }

  .validation{
    color: rgb(255, 230, 0);
    font-size: 20px;
  }