.conteiner{
    display: flex;
    width: 100vw;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.img{
    width: 500px;
    height:fit-content;
}

h2{
   
    
    font-size: 50px;
    text-align: center;
   
}

.textconteiner{
    flex: 1;
    font-size: 25px;
    text-align: right;
    padding: 50px;
}