.homecontainer {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  overflow:scroll;
  margin-bottom: 30px;
}

.navPag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 12px; /* Cambia el color de fondo según tus preferencias */
}

.filterCards{
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
  height: 100%;
  width: 100vw;
  margin-top: 25px;
}
.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: center;
  height: 100vh;
  width: 90%;

}


.filters{
  display: flex;
  justify-self:left;
  align-items: start;
  padding: 0;
}
