/* Estilo para el contenedor del detalle del juego */
.gameDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: aliceblue;

  }
  
  /* Estilo para el nombre del juego */
  .gameName {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Estilo para la imagen del juego */
  .gameImage {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Estilo para la descripción del juego */
  .gameDescription {
    font-size: 20px;
    margin-bottom: 10px;

  }
  
  /* Estilo para el texto de la descripción del juego */
  .gameDescriptionText {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;

    
  }
  
  /* Estilo para la fecha de lanzamiento del juego */
  .gameReleased {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Estilo para las plataformas del juego */
  .gamePlatforms {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: -50px;
   
  }
  
  /* Estilo para los géneros del juego */
  .gameGenres {
    font-size: 20px;
    margin-bottom: -50px;
  }
  
  /* Estilo para la calificación del juego */
  .gameRating {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .listPlatAndGen{
    font-size: 16px;
    text-align: center;
    
  }
