

.detailContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.detailContainer h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el título y el contenido */
}

.detailContainer img {
  max-width: 100%;
  height: auto;
}

.detailContainer .leftSection {
  
  flex: 1;
  margin-right: 20px;
}
.detailContainer .leftSection h3 {
  color: white;

}

.detailContainer .leftSection p {
  color: white;
}
.detailContainer .rightSection {
 
  flex: 1;
  align-items: center;
  justify-content: center;
}



.detailContainer .rightSection h3 {
  align-self: center;
  color: white;
}
.detailContainer .rightSection p {
  color: white;
}
.detailContainer .platformGenreList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.detailContainer .platformGenreItem {

  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.detailContainer .rightSection h3,
.detailContainer .leftSection h3 {
  text-align: center;
  margin-top: 20px; 
}
