@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Outfit:wght@100&family=Poppins:wght@100&display=swap");

.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 90vw;
  background-color: rgba(17, 25, 40, 0.25);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 25px;
  margin-bottom: 30px;
  margin: 0px 15px;
  font-family: "Outfit", sans-serif;
  color: rgba(255, 255, 255, 0.98);
}

.closebutton{
  font-family: "Outfit", sans-serif;
  font-size:x-large;
  display: flex;
  align-self: self-end;
  justify-content: center;
  margin-bottom: 5px;
  background: none;
  width: 30px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.closebutton:hover{
  background-color: #000000;
  border: #fff 1px solid;
}
.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 95%;
  height: 95%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.imgconteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: auto;
  width: 75%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.imgconteiner h2 {
  font-family: "Outfit", sans-serif;
  width: 75%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.98);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.imgconteiner img {
  display: flex;
  width: 40%;
  height: auto;
  border-radius: 12px;
  transition: all 0.5s ease-in-out;
}

.imgconteiner p {
  color: rgba(255, 255, 255, 0.98);
  display: flex;
  width: 80%;
  height: auto;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  text-align: justify;
  overflow:auto;
  scroll-behavior: smooth;
}

.textconteiner {
  color: rgba(255, 255, 255, 0.98);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: auto;
  margin-right: 15px;
}

.platGenContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ratingReleaseContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.platforms .genres {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.plat {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.platforms h3{
  font-family: "Outfit", sans-serif;
  font-size: larger;
}

.genres h3{
  font-family: "Outfit", sans-serif;
  font-size: larger;
}

.genr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.rating h3{
  font-family: "Outfit", sans-serif;
  font-size: larger;
}

.released h3{
  font-family: "Outfit", sans-serif;
  font-size: larger;
}

.rating { 
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.released{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.rat {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  font-family: "Outfit", sans-serif;
}

.rel {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  font-family: "Outfit", sans-serif;
}
