.card {
    width: 100%;
    max-width: 300px; 
    max-height: 300px;/* Ajusta el ancho máximo según tus preferencias */
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow:hidden;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.539);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
  }
  
  /* Efecto hover en la carta */
  .card:hover {
    border-radius: 5px;
    transform: scale(1.05); /* Aumenta el tamaño de la carta al pasar el mouse */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.539);
  }
  
  /* Estilo para la imagen */
  .card img {
    width: 100%;
    height: 50%;
    display: block;
  
  }
  
  /* Estilo para el nombre */
  .card h2 {
    text-align: center;
    padding: 0;
    margin-top: -5px;
    color: #fff; /* Color del texto del nombre */
    border-top-left-radius: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
  }
  
  /* Efecto hover en el nombre */
  .card:hover h2 {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
  }

  .card h4{
    text-align: center;
    padding: 10px;
    color: #fff; /* Color del texto del nombre */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }